header {
    background-color: #881a1a;

    .bg-menu {
        background-color: rgb(0, 8, 21);
    }

    nav {

        .container-fluid {
            background-color:$color-principal;
        }

        img {

            height: 120px;
            width: 120px;
            border: white solid 2px;
        }

        .nav-link {
            color: rgb(234, 230, 230);
            font-size: xx-large;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

        .dropdown-menu {
            background-color: $color-principal;
            border: white solid 2px;
        }

     

        .dropdown-item {
            color: rgb(234, 230, 230);
            font-size: large;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }
        .boton {
            @extend %boton;
        }
    }

    
}