/* Funcionalidades*/

/**
VARIABLES
*/
$color-principal: rgb(203, 41, 67);
$color-secundario:#050b14;
$color-terciario:bisque;
$fondo-contacto:rgb(147, 147, 147);
%boton{
    background-color: $color-secundario;
            border: white solid 1px;
            color: rgb(239, 242, 245);
            padding: 10px;
            &:hover {
                background-color: rgb(0, 8, 21);
                color: rgb(239, 242, 245);
                border: white solid 1px;
            }

}


%flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
%flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
%sombreado{
    box-shadow: 15px 16px 44px 4px rgba(0, 0, 0, 0.92);
        -webkit-box-shadow: 15px 16px 44px 4px rgba(0, 0, 0, 0.92);
        -moz-box-shadow: 15px 16px 44px 4px rgba(0, 0, 0, 0.92);
}
@mixin flex ($flex,$justify,$align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    
    }
